.fs-7 {
  font-size: 1.125rem;
}

#miDiv {
  width: 100%;
}

.card {
  border: 1px solid #0050fb !important;
}

/* mediaQuery*/
@media only screen and (max-width: 767px) {
  .reverse {
    flex-direction: column-reverse;
  }
}
@media screen and (min-width: 375px) {
  #miDiv {
    height: 25vh;
  }
}
@media screen and (min-width: 667px) {
  #miDiv {
    height: 45vh;
  }
}
@media screen and (min-width: 1200px) {
  #miDiv {
    height: 60vh;
  }
}
