.fs-7 {
  font-size: calc(0.75rem + 0.5vw);
  text-align: justify;
}

#miDiv {
  width: 100%;
}
.dragon-icon {
  aspect-ratio: 10 / 2;
  object-fit: contain;
}
.card {
  border: none !important;
}
.initial-letter {
  background: #ff00f7;
  -webkit-background-clip: text;
}
.imgs {
  aspect-ratio: 8/2;
  object-fit: contain;
  width: 100%;
  filter: grayscale(100%);
  transition: filter 0.3s ease;
  -webkit-transition: filter 0.3s ease;
  -moz-transition: filter 0.3s ease;
  -ms-transition: filter 0.3s ease;
  -o-transition: filter 0.3s ease;
}
.nike {
  filter: opacity(0.5);
  -webkit-filter: opacity(0.5);
}
.imgs:hover {
  filter: grayscale(0%);
}
.img-card1 {
  border-radius: 56% 44% 72% 28% / 44% 64% 36% 56% !important;
}
.img-card2 {
  border-radius: 24% 76% 33% 67% / 73% 21% 79% 27% !important;
}

.img-card1:hover {
  border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% !important;
  transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -webkit-border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% !important;
  -moz-border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% !important;
  -ms-border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% !important;
  -o-border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% !important;
}
.img-card2:hover {
  border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% !important;
  transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
}
.btn-bg:hover {
  background: -webkit-linear-gradient(90deg, #4221fd 0%, #b721ff 100%);
  border: 1px solid #4221fd;
}
.hr1 {
  border: 0;
  height: 2px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgb(98 0 255),
    rgba(0, 0, 0, 0)
  );
}
/* mediaQuery*/
@media only screen and (max-width: 767px) {
  .reverse {
    flex-direction: column-reverse;
  }
}

@media screen and (min-width: 667px) and (min-height: 375px) {
  #miDiv {
    height: 55vh;
  }
}
@media screen and (min-width: 1200px) {
  #miDiv {
    height: 60vh;
  }
}
@media screen and (min-height: 1200px) {
  #miDiv {
    height: 25vh;
  }
}
@media screen and (max-width: 750px) {
  .dragon-icon {
    aspect-ratio: 3 / 2;
    object-fit: contain;
  }
}
